
body {
    background-image: url("ocean.jpg");;
    background-size: 100%;
    background-repeat: no-repeat;
}

#login_frame {
    width: 400px;
    height: 200px;
    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

.label_title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: blue
}
.label_input {
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;

    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color:blue;
    background-color: #3CD8FF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

 #btn_login {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;

    width: 150px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color:blue;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;

    float: left;
}
#btn_inscrir {
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;

  width: 150px;
  height: 28px;
  line-height: 28px;
  text-align: center;

  color: blue;
  background-color: #3BD9FF;
  border-radius: 6px;
  border: 0;

  float:center;
}
#forget_pwd{
    float:right;
}

#login_control {
    padding: 0 28px;
}


